{% for label, messages in app.flashes(['success']) %}
    {% for message in messages %}
        <div class="alert successAlert" role="alert">
            {{ message | raw }}
        </div>
    {% endfor %}
{% endfor %}

{% for label, messages in app.flashes(['info']) %}
    {% for message in messages %}
        <div class="alert infoAlert" role="alert">
            {{ message | raw }}
        </div>
    {% endfor %}
{% endfor %}

{% for label, messages in app.flashes(['danger', 'error']) %}
    {% for message in messages %}
        <div class="alert dangerAlert" role="alert">
            {{ message | raw }}
        </div>
    {% endfor %}
{% endfor %}

{% for label, messages in app.flashes(['warning']) %}
    {% for message in messages %}
        <div class="alert warningAlert" role="alert">
            {{ message | raw }}
        </div>
    {% endfor %}
{% endfor %}