{% extends 'home/components/layout.html.twig' %}

{% block title %}Project Kakarot - Batallas{% endblock %}

{% block content %}
    
    <h1 class="titleView">Sagas: Batallas</h1>

    <div class="cards">
        {% for battle in battles %}
            <div onclick="window.location.href='{{ path('app_battles_view', { 'id': battle.id }) }}'" class="cardView">
                <div class="cardImage" style="background: url({{ asset('/img/views/'~ battle.picture) }});" role="img" aria-label="Imagen de {{ battle.title }}"></div>
                <div class="cardBody">
                    <h4>{{ battle.name }}</h4>
                </div>
            </div>
        {% endfor %}
    </div>

{% endblock %}