{% extends 'home/components/layout.html.twig' %}

{% block title %}Project Kakarot - Personajes{% endblock %}

{% block content %}

    <h1 class="titleView">Razas: Personajes</h1>
    
    <div class="cards">
        {% for character in characters %}
            <div onclick="window.location.href='{{ path('app_characters_view', { 'id': character.id }) }}'" class="cardView">
                <div class="cardImage" style="background: url({{ asset('/img/views/'~ character.picture) }});" role="img" aria-label="Imagen de {{ character.title }}"></div>
                <div class="cardBody">
                    <h4>{{ character.name }}</h4>
                </div>
            </div>
        {% endfor %}
    </div>

{% endblock %}