{% extends 'home/components/layout.html.twig' %}

{% block title %}Project Kakarot - Home{% endblock %}

{% block content %}

    <h1 class="titleView">Quizzes</h1>

    <div class="containerh">
        <div class="quizes">
            {% for quiz in quizzes %}
                {% include 'partials/card-global.html.twig' %}
            {% endfor %}
        </div>
    </div>
{% endblock %}