{% extends 'home/components/layout.html.twig' %}

{% block title %}Project Kakarot - Manga{% endblock %}

{% block content %}

    <h1 class="titleView">Manga</h1>
    
    <div class="cards">
        {% for manga in mangas %}
            <div onclick="window.location.href='{{ path('app_manga_view', { 'id': manga.id }) }}'" class="cardView">
                <div class="cardImage" style="background: url({{ asset('/img/views/'~ manga.picture) }});" role="img" aria-label="Imagen de {{ manga.title }}"></div>
                <div class="cardBody">
                    <h4>{{ manga.name }}</h4>
                </div>
            </div>
        {% endfor %}
    </div>

{% endblock %}