{% extends 'home/components/layout.html.twig' %}

{% block title %}Project Kakarot - Error 500{% endblock %}

{% block content %}

    <div style="margin-top:50px;margin-bottom:360px;display:block;" class="caja">
        <h1>Error del servidor</h1>
        <p>Lo sentimos pero ha ocurrido un error en el servidor, por favor vuelva al <a style="color:white;" href="{{ path('app_home') }}">home</a>.</p>
    </div>

{% endblock %}