{% extends '@!EasyAdmin/layout.html.twig' %}

{% block content_title %}Project Kakarot - Panel de Adminitración{% endblock %}

{% block stylesheets %}{% endblock %}

{% block main %}
    <h4>Bienvenido Administrador {{ app.user.username}} al Panel de Administración de Project Kakarot, sé libre de añadir, eliminar y editar lo que quieras.</h4>
    <br><br>
    <button aria-label="Volver al home" class="btn btnPrimary" onclick="window.location.href='{{ path('app_home') }}'">VOLVER AL HOME</button>
{% endblock %}