<h1>¡Hola! Por favor verifica tu email</h1>

<p>
    Por favor confirma tu email haciendo clic en el siguiente enlace <br><br>
    <a href="{{ signedUrl }}">Confirmar mi Email</a>.
    Este link expirará en {{ expiresAtMessageKey|trans(expiresAtMessageData, 'VerifyEmailBundle') }}.
</p>

<p>
    ¡Saludos!
</p>
