{% extends 'home/components/layout.html.twig' %}

{% block title %}Project Kakarot - Cambio de Contraseña{% endblock %}

{% block content %}
    {% for flash_error in app.flashes('reset_password_error') %}
        <div class="alert btnDanger" role="alert">{{ flash_error }}</div>
    {% endfor %}

    <div style="margin-bottom:275px;" class="registerForm">
        {{ form_start(requestForm) }}
        <fieldset>
            <h2 class="fs-title">Cambia tu Contraseña</h2>
            {{ form_widget(requestForm.email) }}
            <div style="padding-bottom:20px;">
                <small>Introduce tu email y te enviaremos un link para que cambies tu contraseña.</small>
            </div>

            <button aria-label="Enviar cambio de contraseña" class="Btn btnPrimary">ENVIAR CAMBIO DE CONTRASEÑA</button>
        </fieldset>
        {{ form_end(requestForm) }}
    </div>
{% endblock %}
